body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #333;
}

.formContainer {
  margin-bottom: 20px;
  padding: 20px;
  background: #e7e7e7;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.formContainer h2 {
  margin-top: 0;
  color: #333;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.vuelosContainer {
  margin-top: 20px;
}

.vuelosList {
  list-style-type: none;
  padding: 0;
}

.vueloItem {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.vueloEncontrado {
  margin-top: 20px;
  padding: 10px;
  background: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
}
.vuelosTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.vuelosTable th,
.vuelosTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.vuelosTable th {
  background-color: #007bff;
  color: white;
}

.vuelosTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.vuelosTable tr:hover {
  background-color: #e9ecef;
}